body {
    background-color: lightgray;
}

#experiment-container {
    font-family: 'Roboto Slab';
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
    transition: 0.2s;
}

#message-container {
    font-size: 28px;
    font-style: italic;
    text-align: center;
}

#game-container {
    text-align: center;
}

#game-banner {
    font-size: 20px;
    padding: 8px;
}

#video-container {
    font-family: 'Roboto Slab';
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
    transition: 0.2s;
}

#round-text, #round-index {
    display: inline-flex;
}

#exp-button-container {
    padding: 10px;
}

.next-button {
    background-color: white;
    color: black;
    border: 2px solid #2f00ff;
    font-size: 33px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Slab';
    border-radius: 30px;
    transition: 0.1s;
}

.next-button:hover {
    background-color: #f3f3f3;
}

.next-button:active {
    background-color: #e7e7e7;
}

.slider-img {
    width: 600px;
}



/* Styling for survey container
 */
#survey-container {
    text-align: center;
}

#survey-banner {
    font-size: 20px;
    padding: 20px;
}

#survey-eval {
    padding: 10px;
}

.survey-slider-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

/* Adapted from w3schools
 */
/* The container */
.radio-container {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: -13px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #2f00ff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.radio-buttons {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
}

/* Slider style below copied from go_fish with minimal modifications
 */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/*
 * This copied from go_fish with minimal modifications
 * -> originally taken from top response here:
 * https://stackoverflow.com/questions/33699852/show-tick-positions-in-custom-range-input
 */
 .sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 12px; /* customized this to look best */
  }

.sliderticks p {
    display: flex;
    justify-content: center;
    width: 2px; /* customized this to look best */
    background: #D3D3D3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 0px 0;
}

/* This should match sliderticks above */
.sliderlabels {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}


.sliderlabels p {
    display: flex;
    /* text-align: left; */
    margin: 0 0 0 0;
    max-width: 120px;
}
